swiper-container::part(bullet) {
    background-color: rgba(229, 255, 0, 0);
    border: 1px solid white;
    width: 7px;
    height: 7px;
}

swiper-container::part(bullet-active) {
    background-color: rgb(139, 139, 139);
    border: 1px solid rgb(138, 138, 138);
    width: 7px;
    height: 7px;
}

swiper-container::part(button-next),
swiper-container::part(button-prev) {
    width: 4vw;
    color: white;
}

@media screen and (max-width: 500px) {
    swiper-container::part(button-next),
    swiper-container::part(button-prev) {
        width: 12px;
    }
}